[submodule "novasql"]
	path = novasql
	url = git@github.com:tuannm99/novasql.git

[submodule "novakv"]
	path = novakv
	url = git@github.com:tuannm99/novakv.git

[submodule "novadb-lite"]
	path = novadb-lite
  url = git@github.com:tuannm99/novadb-lite.git

[submodule "zoocooker"]
	path = zoocooker 
	url = git@github.com:tuannm99/zoocooker.git

[submodule "compact-core"]
	path = compact-core 
	url = git@github.com:tuannm99/compact-core.git
