[submodule "novasql"]
	path = novasql
	url = git@github.com:tuannm99/novasql.git

[submodule "novakv"]
	path = novakv
	url = git@github.com:tuannm99/novakv.git

[submodule "novadb-lite"]
	path = novadb-lite
  url = git@github.com:tuannm99/novadb-lite.git
